---
layout: default
prism: true

---
{% from "./components/buttons/textButton.njk" import textButton as textButton %}

{# <div class="pb-5 mb-5 border-b border-gray-100">
        <h1 class="font-bold text-5xl">{{title}}</h1>
        <p class="text-center text-base leading-6 font-medium text-gray-500">
            <time> {{ date | readableDate }}
                by
                <a>{{ author }}</a>

            </time>
        </p>

    </div> #}
<div class="article-bannerImage">
    <img src="http://picsum.photos/1200/500" alt="">
</div>

<main class="article-post">
    <aside class="quick-links">
       <div class="sidebar">
           Quick Links
           <ul>
               {%for section in articleSection%}
               <li><a href="#{{section.sectionLink}}" class="scroll">{{section.sectionName}}</a></li>
               {%endfor%}
           </ul>
       </div>
    </aside>
    <article>
        
        <div class="article-container">
            <div class="article-post_info">
            {{textButton('http://google.com', 'Google')}}    
            <h2 class="article-post_info_title">{{ title }}</h2>
            <div class="article-post_info_meta">
                <span class="article-post_info_meta_date"><i class="far fa-calendar-alt"></i>{{ date | readableDate }}</span>
                <span class="article-post_info_meta_author"><i class="far fa-user"></i>{{ author }}</span>
            </div>
            </div>
            <div class="article-post_content">
                {{intro}}
            {%for section in articleSection%}
                <section>
                    <h4 id="#{{section.sectionLink}}">{{section.sectionName}}</a></h4>
                    <p>{{section.sectionContent}}</p>
                </section>
            {%endfor%}
            </div>
        </div>
    </article>

    <aside class="related-content">
       <h3>Related Articles</h3>
       <ul>
           <li>
               <a href="#">
                   <img src="http://picsum.photos/450/200" alt="">
                   <div>This is a Post Title With and Average Title</div>
                </a>
            </li>
            <li>
               <a href="#">
                   <img src="http://picsum.photos/450/200" alt="">
                   <div>This is a Post Title That Seems to Just go On Way Longer Than Neccessary</div>
                </a>
            </li>
            <li>
               <a href="#">
                   <img src="http://picsum.photos/450/200" alt="">
                   <div>This is a Post Title</div>
                </a>
            </li>
       </ul>
    </aside>
    <script>
        (function() {
            scrollTo();
        })();
        
        function scrollTo() {
            const links = document.querySelectorAll('.scroll');
            links.forEach(each => (each.onclick = scrollAnchors));
        }
        
        function scrollAnchors(e, respond = null) {
            const distanceToTop = el => Math.floor(el.getBoundingClientRect().top);
            e.preventDefault();
            var targetID = (respond) ? respond.getAttribute('href') : this.getAttribute('href');
            const targetAnchor = document.querySelector(targetID);
            if (!targetAnchor) return;
            const originalTop = distanceToTop(targetAnchor);
            window.scrollBy({ top: originalTop, left: 0, behavior: 'smooth' });
            const checkIfDone = setInterval(function() {
                const atBottom = window.innerHeight + window.pageYOffset >= document.body.offsetHeight - 2;
                if (distanceToTop(targetAnchor) === 0 || atBottom) {
                    targetAnchor.tabIndex = '-1';
                    targetAnchor.focus();
                    window.history.pushState('', '', targetID);
                    clearInterval(checkIfDone);
                }
            }, 100);
        }
    </script>
</main>