---
title: Our Blog
layout: default
---

{% import "./components/buttons.html" as button %}



<div class="service" #="frame">
    <div class="service-left">
        <div class="service-image">
            <img src="{{image}}" alt="">
        </div>
    </div>
    <div class="service-right">
        <div class="service-title">
            <h2>{{title}}</h2>
        </div>
        <div class="service-details">
            <div>
                {{snippet}}
            </div>
        </div>
        <div class="service-buttons">
            {{button.square_with_icon('Ask A Question', 'cps-orange', 'cps-orange-dark', 'far fa-question-circle')}}
            {{button.square_with_icon('Schedule Service', 'cps-blue', 'cps-blue-dark', 'far fa-calendar-plus')}}
        </div>
        
        <div class="service-icons">
            <!-- {{icons}} -->
            {% for icon in serviceIcons %}
                <div class="icon">
                    <div class="icon">
                        <i class="{{icon.serviceIcon}}"></i>
                    </div>
                    <div class="title">{{icon.iconTitle}}</div>
                </div>
            {%endfor%}
        </div>
        <div class="service-description">
            <div class="service-description-info">
                <h4>Service Description:</h4>
                <div>
                    {{description}}      
                </div>
                <h4>What This Service Includes:</h4>
                <ul>
                   {% for feature in serviceIncludes %}
                        <li>{{feature.serviceFeature}}</li>
                   {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    
    

</div>